@use 'src/styles/_variables.scss' as *;

.button {
  background-color: $secondary-dark;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  transition: 0.3s;
}

.button::first-letter {
  text-transform: capitalize;
}

.button:hover {
  background-color: $main;
  cursor: pointer;
}

.button-clicked {
  background-color: $main;
}