@use 'src/styles/_variables.scss' as *;

.button {
  background-color: $secondary-dark;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  transition: 0.3s;
}

.button::first-letter {
  text-transform: capitalize;
}

.button:hover {
  background-color: $main-blue;
  cursor: pointer;
}

.button-clicked {
  background-color: $main-blue;
}