@use 'src/styles/_variables.scss' as *;

.line {
  stroke: rgb(153, 153, 153);
  stroke-opacity: 0.7;
  stroke-width: 1.6;
}

.tip-line {
  stroke: transparent;
  transition: 0.05s;
}

.tip-line:hover {
  stroke: #cccccca5;
  stroke-dasharray: 0;
}

.point {
  fill: transparent;
}

.tip-line:hover + .point {
  fill: $main;
}

.tool-tip {
  text-anchor: middle;
  stroke: rgb(120, 120, 197);
}
