$main-blue: #0088CC;
$main-grey: #cccccca5;

$secondary-dark: #6AAEFF;
$secondary-light: #B2D4FC;

$background-grey: #F7F9FB;
$background-black: #232328;

$main-gradient: linear-gradient($secondary-dark, $secondary-light);

