.labels {
  font-size: 12px;
}

.labels .x-labels {
  text-anchor: middle;
}

.labels .y-labels {
  text-anchor: end;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}
