@use 'src/styles/_variables.scss' as *;

.line {
  stroke: rgb(153, 153, 153);
  stroke-opacity: 0.7;
  stroke-width: 1.6;
  z-index: -1;
}

@keyframes example {
  0%   {fill: $main;}
  45%  {fill: $secondary-dark;}
  55%  {fill: $secondary-dark;}
  100% {fill: $main;}
}

.last-point{
  fill: $main;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
