.subsection {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
}

.loading {
  color: grey;
}

.subnavbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.button-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .button-container {
    margin-left: 0;
  }
  .subnavbar{
    flex-direction: column;
  }
}
