.dashboard {
  border: 1px solid black;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
}

.loading {
  color: grey;
}

.subnavbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}