.dashboard {
  border: 1px solid black;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
}

.loading {
  color: grey;
}

.subnavbar {
  margin-left: auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}