@use 'src/styles/_variables.scss' as *;

.tip-line {
  stroke: transparent;
  transition: 0.05s;
}

.tip-line:hover {
  stroke: #cccccca5;
  stroke-dasharray: 0;
}

.point {
  fill: transparent;
  z-index: 1;
}

.tip-line:hover + .point {
  fill: $main;
}

.tool-tip  {
  font-size: 12px;
  border: 1px solid black;
  border-radius: 0.2rem;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .tool-tip  {
    font-size: 2vw;
  }
}
