@use 'src/styles/_variables.scss' as *;

.tip-line {
  stroke: transparent;
  transition: 0.05s;
}

.tip-line:hover {
  stroke: #cccccca5;
  stroke-dasharray: 0;
}

.point {
  fill: transparent;
  z-index: 1;
}

.tip-line:hover + .point {
  fill: $main-blue;
}

.tool-tip  {
  font-size: 12px;
  border: 0.5px solid $background-black;
  border-radius: 0.4vh;
  background-color: white;
  padding: 0.2vh 0 0.2vh 0.4vw;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.date {
  font-weight: 300;
  padding-bottom: 0.2vh;
}

.tip-label{
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .tool-tip  {
    font-size: 1.4vw;
    padding: 0.2vh;
    display: inline-block;
  }
  .date{
    padding-bottom: 0.1vh;
  }
}
